{% extends 'Inventory/base.html' %}
{% block content %}
<div class="py-2">
    <a href="{% url 'home' %}" class="display-4 text-dark" style="text-decoration: none;">GLUA PHARMACY</a>
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}

        <div class="input-group">
            <input class="form-control form-control-sm" type="text" name="q" placeholder="Search Drug"
                aria-label="Recipient's " aria-describedby="my-addon">
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark btn-sm">Search</button>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <div class="row">
                            <div class="col">
                                <th style='border-top:none'>
                                    Drug Name
                                </th>
                            </div>
                            <div class="col">
                                <th style='border-top:none'>
                                    Category
                                </th>
                            </div>
                            <div class="col">
                                <th style='border-top:none'>
                                    Stock
                                </th>
                            </div>
                            <div class="col">
                                <th style='border-top:none'>
                                    Ref Code
                                </th>
                            </div>
			<div class="col">
                                <th style='border-top:none'>
                                    Min Price
                                </th>
                            </div>
                            <div class="col-5">
                                <th style='border-top:none'>
                                    <div class="d-flex justify-content-around">
                                        <span>Quantity</span>
                                        <span>Selling Price</span>
                                    </div>

                                </th>
                            </div>
                            <div class="col">
                                <th style='border-top:none'>
                                    Normal Price
                                </th>
                            </div>
                            <div class="col">
                                <th style='border-top:none'>
                                    Customer
                                </th>
                            </div>

                            <div class="col">
                                <th style='border-top:none'>
                                    Units
                                </th>
                            </div>

                        </div>
                    </tr>
                </thead>
                <tbody>
                    <div class="row d-flex align-items-center">
                        {% for drug in drugs %}
                        <tr>
                            <div class="col">
                                {% if user.is_superuser %}
                                <td>
                                    <a href="{% url 'modify' drug.pk %}" style="text-decoration: none;">
                                        {{drug.name}}
                                    </a>
                                </td>
                                {% else %}
                                <td>
                                    {{drug.name}}
                                </td>
                                {% endif %}
                            </div>
                            <div class="col">
                                <td>
                                    {{drug.category}}
                                </td>
                            </div>
                            <div class="col">
                                <td>
                                    {{drug.stock}}
                                </td>
                            </div>
                            <div class="col">
                                <td>{{drug.ref_code}}</td>
                            </div>
			    <div class="col">
                                <td>{{drug.minimum_price}}</td>
                            </div>




                            <div class="col-2">

                                <form action="{% url 'sell' drug.id %}" method="GET">
                                    {% csrf_token %}
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control text-center" type="number" name="quantity"
                                                placeholder="quantity" min="1" aria-label="Recipient's "
                                                aria-describedby="my-addon" value="1">

                                            <input class="form-control" min="{{drug.buying_price}}" type="number"
                                                name="sellAt" placeholder="{{drug.name}} selling price"
                                                aria-label="Recipient's " aria-describedby="my-addon" required>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-danger btn-sm">Sell</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{drug.maximum_price}}</td>
                                    <td>
                                        <div class="form-group">

                                            <select id="my-select" class="form-control" name="customer">
                                                <option selected value="Walk In">Walk In</option>
                                                <option value="Prescription">Prescription</option>
                                            </select>
                                        </div>
                                    </td>
                                </form>

                            </div>




                            <div class="col">
                                <td class="text-right">
                                    {{drug.measurement_units}}
                                </td>
                            </div>




                        </tr>
                        <tr>
                            <td>
                                <!-- class view pagination -->
                                {% endfor %}
                                {% if is_paginated %}
                                {% if page_obj.has_previous %}
                                <a href="?page=1" class="btn btn-outline-primary">First</a>
                                <a href="?page={{page_obj.previous_page_number}}"
                                    class="btn btn-outline-primary">Previous</a>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <a href="?page={{num}}" class="btn btn-primary text-white bg-primary">{{ num }}</a>

                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a href="?page={{ num }}" class="btn btn-outline-primary">{{ num }}</a>
                                {% endif %}

                                {% endfor %}

                                {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary">Next</a>
                                <a href="?page={{page_obj.paginator.num_pages}}"
                                    class="btn btn-outline-primary">Last</a>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex">
            {% if user.is_superuser %}
            <a href="{% url 'create' %}" class="btn sharp btn-dark mr-2">Add New Drug</a>
            <a href="{% url 'stocked' %}" class="btn sharp btn-dark mr-2">STOCK HISTORY</a>
            {% endif %}
            <a href="{% url 'today' %}" class="btn sharp btn-dark mr-2" style="text-decoration: none;">
                TODAY'S SALES
            </a>
            <a href="{% url 'history' %}" class="btn sharp btn-dark mr-2">SALES HISTORY</a>
            <a href="{% url 'stocking' %}" class="btn sharp btn-warning ml-auto">Add Stock</a>
        </div>
    </div>
</div>
{% endblock content %}