{% extends 'Inventory/base.html' %}
{% load humanize %}
{% block content %}
<div class="py-2">
    <a class="display-4 text-dark" style="text-decoration: none;">STOCK HISTORY</a>
    <form action="{% url 'stocked' %}" method="GET">
        {% csrf_token %}

        <div class="input-group">
            <input class="form-control form-control-sm" type="date" name="date_start"
                value="{{start_date|date:'d/m/Y'}}" placeholder="Search Drug" aria-label="Recipient's "
                aria-describedby="my-addon">
            <input class="form-control form-control-sm" type="date" name="date_end" value="{{end_date|date:'d/m/Y'}}"
                placeholder="Search Drug" aria-label="Recipient's " aria-describedby="my-addon">
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark btn-sm">Search</button>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <div class="row-fluid">
                            <div class="span2">
                                <th style='border-top:none'>
                                    Staff On Duty
                                </th>
                            </div>
                            <div class="span2">
                                <th style='border-top:none'>
                                    Date Stocked
                                </th>
                            </div>
                            <div class="span2">
                                <th style='border-top:none'>
                                    Supplier
                                </th>
                            </div>
                            <div class="span2">
                                <th style='border-top:none'>
                                    Drug Name
                                </th>
                            </div>
                            <div class="span2">
                                <th style='border-top:none'>
                                    Number
                                </th>
                            </div>
                            <div class="span2">
                                <th style='border-top:none'>
                                    Total
                                </th>
                            </div>
                        </div>

                    </tr>
                </thead>
                <tbody>

                    <div class="row-fluid">
                        {% for stock in stocked %}
                        <tr>


                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.staff.username}}
                                </td>
                            </div>
                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.date_added}}
                                </td>
                            </div>
                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.supplier}}
                                </td>
                            </div>
                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.drug_name.name}}
                                    {{stock.drug_name.buying_price}}
                                </td>
                            </div>
                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.number_added}}
                                </td>
                            </div>
                            <div class="span2">
                                <td style='border-top:none'>
                                    {{stock.total}}
                                </td>
                            </div>
                            {% empty %}
                            <td>No stock were added within those days</td>
                        </tr>
                        {% endfor %}
                    </div>



                </tbody>

            </table>
            {% if user.is_superuser %}

            <a href="{% url 'today' %}" class="float-left mr-5" style="text-decoration: none;">
                <h4><strong>TODAY'S SALES </strong></h4>
            </a>

            {% else %}
            <a href="{% url 'today' %}" class="float-left mr-5" style="text-decoration: none;">
                <h4><strong>TODAY'S SALES </strong></h4>
            </a>

            {% endif %}
        </div>
        <div class="card-footer d-flex">
            {% if user.is_superuser %}
            <a href="{% url 'create' %}" class="btn sharp btn-dark mr-2">Add New Drug</a>

            {% endif %}
            <a href="{% url 'home' %}" class="btn sharp btn-dark mr-2">Return to Glua</a>

            <a href="{% url 'stocking' %}" class="btn sharp btn-warning ml-auto">Add Stock</a>
        </div>
    </div>
</div>
{% endblock content %}